/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**/
@font-face {
  font-family: 'MyFont';
  src: url('../public//fonts/akira_expanded/Akira\ Expanded\ Demo.otf') format('woff2'),
       url('../public//fonts//akira_expanded/Akira\ Expanded\ Demo.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont2';
  src: url('../public/fonts/garet/Garet-Book.otf') format('woff2'),
       url('../public/fonts/garet/Garet-Book.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
 
 
  display: flex;
  align-items: center;
  justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);
    overflow: hidden;
    background-position: center top -15vh;;

   background-size: 90%; /* Ajusta este valor para cambiar el tamaño de la imagen */
  }
  .header {
    position: fixed; /* Fija el header en la parte superior */
    top: 10px;
    left: 0; /* Asegura que esté completamente alineado a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    height: 7vh; /* Altura del header */
    background-color: transparents(0, 0, 0, 0.6); /* Fondo negro con opacidad para transparencia */
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    z-index: 10; /* Asegura que esté encima de otros elementos */
    display: flex; /* Ideal para centrar contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia el contenido uniformemente */
    padding: 0 20px; /* Espaciado interno en los lados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra para un efecto flotante */
  }
  .headerCategori {
    position: fixed; /* Fija el header en la parte superior */
    top: 60px;
    left: 0; /* Asegura que esté completamente alineado a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    height: 7vh; /* Altura del header */
    background-color: transparents(0, 0, 0, 0.6); /* Fondo negro con opacidad para transparencia */
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
    z-index: 10; /* Asegura que esté encima de otros elementos */
    display: flex; /* Ideal para centrar contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Espacia el contenido uniformemente */
    padding: 0 20px; /* Espaciado interno en los lados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra para un efecto flotante */
  }