@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin-top: 10px;
  transition: 1s;
}

#mainV {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

.content {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
}

.carrusel {
  scroll-snap-align: start;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  transition: 1s;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}

.main1A {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  background-image: url('https://i.pinimg.com/originals/3b/f3/7d/3bf37d79a9fa9e7b3cff9c0551314989.gif');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
  z-index: 1;
  position: relative;
  top: 100px;
  overflow: hidden;
}

.main1B {
  scroll-snap-align: start;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  transition: 1s;
  z-index: 1;
  position: relative;
  top: 20px;
  overflow: hidden;
}

.full-image {
  position: relative;
  top: 90px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main2 {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  background-color: rgb(29, 29, 29);
  z-index: -10;
  transition: 1s;
}

#main2g {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-align: center;
  position: relative;
  background-image: url('../img/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 100px; /* Aumentamos el padding-top para desplazar la sección hacia abajo */
}

@media (max-width: 1168px) {
  #main2g {
    font-size: 1.8rem;
    height: 90vh; /* Ajuste de altura para pantallas medianas */
    padding-top: 0px; /* Mantener el padding-top aumentado */
  }
}

@media (max-width: 1068px) {
  #main2g {
    font-size: 1.6rem;
    height: 70vh; /* Ajuste de altura para pantallas pequeñas */
    padding-top: 100px; /* Mantener el padding-top aumentado */
  }
}

@media (max-width: 1000px) {
  #main2g {
    font-size: 1.4rem;
    height: 70vh; /* Ajuste de altura para dispositivos móviles */
    padding-top: 100px; /* Mantener el padding-top aumentado */
  }
}

@media (max-width: 968px) {
  #main2g {
    font-size: 1.2rem;
    height: 70vh; /* Más ajuste de altura en pantallas más pequeñas */
    padding-top: 100px; /* Mantener el padding-top aumentado */
  }
}

@media (max-width: 768px) {
  #main2g {
    font-size: 1rem;
    height: 50vh; /* Asegurando que se vea bien en dispositivos muy pequeños */
    padding-top: 100px; /* Mantener el padding-top aumentado */
  }
}
@media (max-width: 708px) {
  #main2g {
    font-size: 1rem;
    height: 70vh; /* Asegurando que se vea bien en dispositivos muy pequeños */
    padding-top: 100px; /* Mantener el padding-top aumentado */
  }
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay-text {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.overlay-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.overlay-text p {
  font-size: 1.5rem;
  margin-top: 0;
}

.main31 {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  background-color: rgb(251, 251, 251);
  z-index: -10;
  transition: 1s;
}

.main3 {
  scroll-snap-align: start;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  background-color: rgb(29, 29, 29);
  z-index: -10;
  transition: 1s;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  transition: 1s;
  position: relative;
  left: 5%;
}

#Title {
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  line-height: 1;
  font-family: 'MyFont';
  font-size: 6rem;
  width: 1000px;
  z-index: 2000000;
}

#description {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-family: 'MyFont2', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.description {
  position: relative;
  left: 0%;
  font-size: 2.5rem; /* Ajusta el tamaño de la fuente al 4% del ancho de la pantalla */
  font-family: 'MyFont2'; /* Asegúrate de reemplazar 'MyFont2' por el nombre de la fuente que estás usando */
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-align: center; /* Centra el texto, si es necesario */
  margin: 0 auto; /* Centra la descripción dentro de su contenedor */
}

/* Media Queries para ajustar el tamaño en diferentes tamaños de pantalla */
@media (max-width: 1168px) {
  #Title {
    font-size: 3rem;
    width: 800px;
  }

  .main1A {
    background-size: 70%;
  }

  #text-section {
    padding-right: 20px;
  }

  #description {
    font-size: 1.3rem; /* Aumenta el tamaño en pantallas más pequeñas */
  }
}

@media (max-width: 1068px) {
  #Title {
    font-size: 2.7rem;
    width: 700px;
  }

  #text-section {
    left: 0%;
  }

  #description {
    font-size: 1.3rem; /* Ajusta más para pantallas medianas */
  }
}

@media (max-width: 1000px) {
  #Title {
    font-size: 2.7rem;
  }

  .text-section {
    left: 0%;
  }

  #description {
    font-size: 1.3rem; /* Sigue ajustando en pantallas más pequeñas */
  }
}

@media (max-width: 968px) {
  #Title {
    font-size: 3rem;
  }

  .text-section {
    left: 0;
  }

  #description {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .text-section {
    padding-right: 0;
    padding-top: 20px;
  }

  #Title {
    font-size: 2.5rem;
  }

  #description {
    font-size: 1rem;
    width: 400px;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 10vh;
  }
  .main1A {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    background-image: url('https://i.pinimg.com/originals/3b/f3/7d/3bf37d79a9fa9e7b3cff9c0551314989.gif');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
    z-index: 1;
    position: relative;
    top: 100px;
    overflow: hidden;
  }
}

@media (max-width: 440px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .text-section {
    padding-right: 0;
    padding-top: 20px;
    position: relative;
    top: 30%;
  }

  #Title {
    font-size: 2.2rem;
  }

  #description {
    font-size: 0.8rem;
    width: 400px;
  }

  .image-section img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 10vh;
  }
  .main1A {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    background-image: url('https://i.pinimg.com/originals/3b/f3/7d/3bf37d79a9fa9e7b3cff9c0551314989.gif');
    background-size: 140%;
    background-position: center 130px;
    background-repeat: no-repeat;
    transition: 1s;
    z-index: 1;
    position: relative;
    top: 100px;
    overflow: hidden;
  }
}

.carrusel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
