@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@font-face {
  font-family: 'MyFont2';
  src: url('/APP//public//fonts/garet/Garet-Book.ttf') format('woff2'),
       url('/APP//public//fonts/garet/Garet-Book.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin-top: 10px;
  transition: 1s;
  /* Eliminar backdrop-filter para pruebas */
  /* backdrop-filter: blur(7px); */
}

.main1 {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  transition: 1s;
  z-index: -1;
  overflow: hidden; /* Asegura que la imagen se adapte correctamente */
}

.main1A {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
  transition: 1s;
  z-index: 1;
  position: relative;
  top:100px;
  overflow: hidden; /* Asegura que la imagen se adapte correctamente */
}
.main1B {
  scroll-snap-align: start;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  transition: 1s;
  z-index: 1;
  position: relative;
  top:20px;
  overflow: hidden; /* Asegura que la imagen se adapte correctamente */
}

/* style/home.css */
/* home.css */
.full-image {
  position: relative;
  top:90px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor sin deformarse */
}



.main2{
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  background-color: rgb(29, 29, 29);
z-index: -10;
transition: 1s;
}

.main31{
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: black;
  background-color: rgb(251, 251, 251);
z-index: -10;
transition: 1s;
}
.main3{
  scroll-snap-align: start;
  width: 100%;
 
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  background-color: rgb(251, 251, 251);
z-index: -10;
transition: 1s;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  transition: 1s;
}

.title {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  line-height: 1;
  transition: 1s;
  font-family: 'MyFont';
  z-index: 2000000s;
 
}

.description {
  font-size: 1.9srem;
  color: rgb(193, 193, 193);
  transition: 2s;
  font-family: 'MyFont2',;
  font-weight: 100;

}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;

}


.image-section img {
  max-width:100%;
  height: auto;
  transition: 1s;
  

}


@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .text-section {
    padding-right: 0;
    padding-top: 20px;
 
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
    font-family: 'MyFont2';
  }
  .image-section img {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 10vh;
  }
}
.carrusel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que ocupe todo el espacio del contenedor */
}