.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Hacer que ocupe toda la altura de la pantalla */
  overflow: hidden; /* Asegura que nada se desborde */
}

.video-frame {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para cubrir todo el contenedor */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el video detrás del contenido */
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.video-title {
  font-size: 2.5rem;
  margin: 0;
}

.video-subtitle {
  font-size: 1.2rem;
}

@media (max-width: 440px) {
  .video-container {
    height: 100vh; /* Asegura que el video ocupe toda la pantalla */
  }

  .video-title {
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
  }

  .video-subtitle {
    font-size: 1rem;
  }
}
